/* Media Query */
@media screen and (max-width:992px){
    header {
        flex-direction: column;
        .menu{
            width: 100%;
            ul{
                padding: 0;
                width: 100%;
                justify-content: space-evenly;
            }
        }
    }
    .description { 
        div{
            width: 100%;
            margin: 1em;
        }
    }
    .videos{
        padding: 0 16px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "titulo-videos"
        "lista-videos";
        .titulo-videos{
            padding: 1em;
/*             h3 {
                font-size: 1.2em;
            } */
        }
        .lista-videos{
            margin: 0;
        }
        .imagen-video{
            display: none;
        }
    }

.funciones{
    .contenedor-armas{
        width: 100%;
       
        .armas {

            .img-gif {

                grid-template-columns: 1fr;
                grid-template-areas:
                "img";

                img {
                    margin: 1em;
                    width: 360px;
                    height: auto;
                }
            }
        }
    }
}
}


@media screen and (max-width:576px){

    footer{
        justify-content: center;
    }
}