/* Media Query */
@media screen and (max-width:992px){
    header {
        flex-direction: column;
        .menu{
            width: 100%;
            ul{
                padding: 0;
                width: 100%;
                justify-content: space-evenly;
            }
        }
    }
    .description { 
        div{
            width: 100%;
            margin: 1em;
        }
    }
    .videos-home{
        .lista-videos{
            grid-template-columns: 1fr;
            margin: 0;
         }
    }
    .videos{
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "titulo-videos"
        "lista-videos";
        .imagen-video{
            display: none;
        }
    }

}

@media screen and (max-width:576px){
   /*  header{
        .menu{
            text-align: center;
            ul{
                flex-direction: column;
            }
        }
    } */
    footer{
        justify-content: center;
    }
}